.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix


.DS_Store

node_modules/

test-results/

# java: gradle + idea
test-results-api/
.gradle/
/build/
.idea/
*.class
*.jar
!gradle-wrapper.jar
gradle-app.setting

.env
